.apartments {

  &__title {
    margin-bottom: 50px;
  }
  
  &__slider {
    padding: 0 25px;
    margin-bottom: 50px !important;

    .slick-next, .apartments__nextArrow {
      right: 0;
    }
    .slick-prev, .apartments__prevArrow {
      left: 0;
    }
    .slick-dots {
      left: 0;
      bottom: -50px;
      width: 100%;
    }

    .apartments__prevArrow, .apartments__nextArrow {
      position: absolute;
      display: block;
      height: 20px;
      width: 20px;
      font-size: 20px;
      cursor: pointer;
      background: transparent;
      color: $arrowColor;
      top: 50%;
      transform: translate(0, -50%);
      padding: 0;
      border: none;
      outline: none;
      transition: .3s;
    }
    .apartments__prevArrow:hover, .apartments__nextArrow:hover {
      color: $btnColor;
    }
  }
  &__slide {
    display: flex !important;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin: 5px;
    border: 2px solid transparent;
    transition: .3s;
    outline: none;
  }
  &__slide:hover {
    border-color: $mainColor;
  }
  &__slideImg {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 15px;

    img {
      width: 100%;
    }
  }
  &__slideTitle {
    min-height: 42px;
    text-align: center;
    font-size: 21px;
    margin-bottom: 10px;
  }
  &__slidePrice {
    font-size: 21px;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 450px){
  .apartments__slideImg {
    height: inherit;
  }
}

@media only screen and (max-width: 335px){
  .apartments__slider {
    .button {
      width: 200px
    }
  }
}