.contactUs {

  &__title {
    margin-bottom: 50px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  &__inputsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .contactUs__field {
      width: 48.5%;
    }
  }

  &__field {
    position: relative;
  }

  &__fieldError {
    position: absolute;
    color: $btnColor;
    top: 65px;
    left: 5px;
    font-size: 16px;
  }

  &__input, &__textarea {
    width: 100%;
    // margin-bottom: 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
    // padding: 10px;
    padding: 20px;
    outline: none;
    border: 2px solid $mainColor;
    font-family: $main_font;
    font-size: 18px;
    color: $textColor;
  }

  &__textarea {
    resize: none;
  }

  &__buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }
}

@media only screen and (max-width: 600px){
  .contactUs {
    &__inputsContainer {
      .contactUs__field {
        width: 100%;
      }
    }
  }
}