.footer {
  background: $mainColor;
  font-size: 18px;
  color: $textColor;

  .container {
    padding: 50px 20px;
  }
  &__logoInfoWrapper {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    // display: flex;
    // align-items: flex-start;
    // justify-content: center;
    width: 45%;

    .logo {
      width: 200px;
    }
  }
  .mainTitle {
    font-size: 25px;
    margin-top: 10px;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__phoneAddressWrapper {
    display: flex;
    justify-content: space-between;
    width: 360px;
  }
  &__phones, &__location, &__mail {
    display: inline-flex;
    align-items: center;
    margin: 6.5px 0;
  }
  &__phone, &__location, &__mail {
    color: $textColor;
  }
  &__svg {
    width: 30px;
    min-width: 30px;
    margin-right: 21px;
  }
  &__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  &__copyrightText {
    a{
      color: $textColor;
    }
  }
}

@media only screen and (max-width : 730px) {
  .footer {
    &__logoInfoWrapper {
      align-items: center;
      flex-direction: column;
    }
    &__info {
      margin-top: 20px;
    }
    &__copyright {
      margin-top: 50px;
    }
    &__logo {
      width: inherit;
    }
  }
}

@media only screen and (max-width : 550px) {  
  .footer {
    &__copyright {
      flex-direction: column;
    }
  }
}

@media only screen and (max-width : 450px) {  
  .footer {
    &__phones, &__location, &__mail {
      margin: 15px 0;
    }
    &__phoneAddressWrapper {
      flex-direction: column;
      align-items: center;
      width: 230px;
    }
  }
}

@media only screen and (max-width : 340px) {  
  .footer {
    p {
      font-size: 17px;
    }
  }
}