body {
	font-family: $main_font;
	font-size: 16px;
	color: $textColor;
}

h1, h2, h3 {
	text-align: center;
	font-size: 40px;
}

p {
  text-align: justify;
  line-height: 25px;
	font-size: 18px;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 15px 20px;
}
section .container {
	padding: 50px 20px;
}
.linecontainer {
	max-width: 1200px;
	margin: 0 auto;
	.line {
		height: 2px;
		background: $mainColor;
		margin: 0 8%;
	}
}

.button {
  width: 220px;
  padding: 15px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: $btnColor;
  color: #fff;
  font-size: 20px;
	font-family: $main_font;
	box-sizing: border-box;
  border: 2px solid $btnColor;
  cursor: pointer;
  transition: .3s;
}

.button:hover{
  background: transparent;
  color: $btnColor;
}

.mainTitle {
	font-size: 40px;
  font-weight: 600;
	color: #ef7f1a;
	&__span {
		color: #0083c3;
	}
}

.scrollToTop {
	width: 45px;
	height: 45px;
	position: fixed;
	bottom: 80px;
	right: -100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	font-size: 50px;
	color: $btnColor;
	border-radius: 100px;
	cursor: pointer;
	transition: .3s;
	z-index: 999;
}

//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@media only screen and (max-width: 400px) {}

@media only screen and (min-width: 401px) and (max-width: 480px) {}

@media only screen and (min-width: 481px) and (max-width: 992px) {}

@media only screen and (min-width: 993px) {}
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++