.howToGet {
  &__title {
    margin-bottom: 50px;
  }
  &__mapContainer {
    margin-bottom: 30px;
  }
  &__mapContainerImg {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 50%;
    }
  }
  &__paragraph {
    margin: 0 80px 30px;
  }
}

@media only screen and (max-width: 600px){
  .howToGet {
    &__paragraph {
      margin: 0 20px 30px;
    }
  }
  @media only screen and (max-width: 350px){
    .howToGet {
      &__paragraph {
        margin: 0 0 30px;
      }
    }
  }
}
