.intro {

  padding-top: 75px;

  &__panorama {
    position: relative;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
    }
    
    // height: 400px;
    // height: 92vh;
    // background-image: url(../img/embankment.jpg);
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-size: cover;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__border {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    // height: 500px;
    border: 2px solid $mainColor;
    box-sizing: border-box;
    padding: 50px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 322px;
  }

  &__headerLogo {
    // width: 250px;

    width: 250px;
    position: absolute;
    bottom: -25px;
    left: 17%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px 5px;
    padding: 15px;
  }

  &__sliderWrapper {
    img {
      height: 450px;
    }
  }
  
  &__gallery {
    width: 100%;
    margin-bottom: 30px;

    img {
      width: 100%;
    }
  }

  &__galleryNav {
    width: 100%;
    margin-bottom: 50px !important;
    .slick-slide {
      outline: none;
    }
    img {
      margin: 0 auto;
      max-height: 200px;
    }
    .intro__prevArrow, .intro__nextArrow {
      position: absolute;
      display: block;
      height: 20px;
      width: 20px;
      font-size: 20px;
      cursor: pointer;
      background: transparent;
      color: #ff8980;
      top: 50%;
      transform: translate(0, -50%);
      padding: 0;
      border: none;
      outline: none;
      transition: .3s;
    }
    .intro__prevArrow {
      left: -25px;
    }
    .intro__nextArrow {
      right: -25px;
    }
    .slick-dots {
      bottom: -45px;
    }
  }

  .roomIntroContainer {
    padding-bottom: 0;
  }

  // &__slide {
  //   overflow: hidden;
  //   img {
  //     height: 400px;
  //   }
  // }
}

@media only screen and (max-width: 1166px) {
  .intro__galleryNav {
    .slick-list.draggable {
      display: none;
    }
    .intro__prevArrow {
      left: 0;
    }
    .intro__nextArrow {
      right: 0;
    }
  }
}
@media only screen and (max-width: 1156px) {
  .intro {

    &__border {
      justify-content: center;
    }
    &__header{
      min-height: 200px;
      margin-bottom: 30px;
    }
  }
  @media only screen and (max-width : 1080px) {
    .intro {
      padding-top: 120px;
    }
  }
}

@media only screen and (max-width : 750px) {
  .intro {
    &__sliderWrapper {
      display: none;
    }
  }
}