.price {
  &__title {
    margin-bottom: 50px;
  }
  &__table {
    vertical-align: middle;
    margin: 0 auto;
    background: $tableColor;
    td {
      border: 2px solid #fff;
      padding: 5px 25px;
    }
    .western {
      text-align: center;
    }
  }

  &__trTitle {
    color: $textColor;
    font-weight: 600;
  }

  &__tableWrapper {
    margin-bottom: 30px;
  }

  &__text {
    margin: 0 60px 30px;
  }
  &__list {
    padding-left: 20px;
    li {
      list-style-type: disc;
      line-height: 25px;
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  &__info {
    margin: 20px 60px 0;
    text-align: center;
    font-size: 15px;
  }
}

@media only screen and (max-width: 975px){
  .price {
    &__table {
      td {
        padding: 5px 15px;
      }
    }
  }
}

@media only screen and (max-width: 809px){
  .price {
    &__table {
      td {
        padding: 5px;
      }
    }
  }
}

@media only screen and (max-width: 620px){
  .price {
    &__tableWrapper {
      overflow-x: scroll;
    }
    &__text {
      margin: 0 10px 30px;
    }
    &__info {
      margin: 0;
    }
  }
}