// $main_font: 'Rockwell', sans-serif;
$main_font: 'Comfortaa', cursive;;
// $main_font: 'Old Standard TT', serif;
$textColor: #323236;
$mainColor: #e5ded5;
$tableColor: #eee7cf;
$btnColor: #d85f49;
$arrowColor: #ff8980;
